* {
  font-family: Montserrat-Regular;
}

.Home .lander {
  padding: 80px 0;
  text-align: center;
}

.Home .lander h1 {
  font-weight: 600;
}

.thumbnail {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.thumbnailCaption {
  text-align: center;
}

.benefits {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.row .div {
  flex: 1 1 300px;
  padding: 0 15px;
}