* {
  font-family: Montserrat-Regular;
}

.Home .lander {
  padding: 80px 0;
  text-align: center;
}

.Home .lander h1 {
  font-weight: 600;
}

.thumbnail {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.thumbnailCaption {
  text-align: center;
}

.benefits {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.row .div {
  flex: 1 1 300px;
  padding: 0 15px;
}


#section1 {
  padding: 100px;
}

.section-bak {
  background-color: #eb6d6d;
}

#section2 {
  background-color: #f3f1f3;
}

#section2-title {
  padding: 50px;
  text-align: center;
}

#section3 {
  color: #d6d6d6;
  background-color: black;
}

#section3 button.btn {
  background-color: #d6d6d6;
  color: black;
}

#section4 {
  background-color: #f3f1f3;
}

#section6{
  background-color: black;
}