.embossing {
  display: block;
  margin: auto;
  width: 40px;
}

.signup-container,
.login-container {
  background: #2d2929;
  padding: 60px 15px;
}

.Signup,
.Login {
  background-color: #ffffff;
  padding: 15px;
}

div form button.btn {
  background-color: black !important;
  border-color: black !important;
  opacity: 1 !important;
}

@media all and (min-width: 480px) {
  .Login {
    padding: 60px 0;
  }

  .Login form {
    margin: 0 auto;
    max-width: 320px;
  }

  .embossing {
    display: block;
    margin: auto;
    width: 50px;
  }

}

@media (min-width: 767px) {
  .Login {
    max-width: 740px;
    margin: auto;
    padding-left: 100px;
    padding-right: 100px;
  }

  .Login form {
    margin: 0 auto;
    max-width: none;
  }
}

@media (max-width: 480px) {
  h2 {
    font-size: 24px;
  }
}