@media all and (min-width: 480px) {
  .Signup {
    padding: 60px 0;
  }

  .Signup form {
    margin: 0 auto;
    max-width: 320px;
  }
}

@media (min-width: 767px) {
  .Signup {
    max-width: 740px;
    padding-left: 100px;
    padding-right: 100px;
    margin: auto;
  }

  .Signup form {
    margin: 0 auto;
    max-width: none;
  }
}